langchain
pypdf
python-dotenv
beautifulsoup4
langchain_community
langchain_openai
langchain_experimental
streamlit
unstructured
python-docx
pinecone-client==3.0.0
langchain-pinecone
pandas
mysql-connector-python
SQLAlchemy
validators==0.28.1
